.r-nav-container,
.m-nav-container {
  height: 50px;
  background-color: #222738;
  color: white;
  text-align: center;
  width: 100%;

  .r-mobile-title {
    display: none;
    margin: 0;
    font-size: 1.7rem;
  }

  .r-nav-link {
    display: inline-block;
    margin: 0.6rem 2rem;
    font-size: 1.2rem;
  }

  .r-main-title {
    display: inline-block;
    margin: 0.3rem 2rem;
    font-size: 1.7rem;
  }
  
}

.m-nav-container {
  height: 50px;
  background-color: #222738;
  color: white;
  text-align: center;
  width: 100%;
  display: none;
}
.m-nav-dropdown {
  display: none;
}



//  -------- TABLET DESIGN --------------
@media only screen and (max-width: 770px) {
  .r-nav-container {
    .r-nav-link {
      display: inline-block;
      margin: 0.6rem 1.5rem;
      font-size: 1.1rem;
    }

    .r-main-title {
      display: inline-block;
      margin: 0.3rem 1rem;
      font-size: 1.7rem;
    }
  }
}




//  -------- MOBILE DESIGN --------------
@media only screen and (max-width: 500px) {
  .r-nav-container {
    display: none;
  }

  .m-nav-container {
    height: 40px;
    display: block;
    .m-main-title {
      display: inline-block;
      margin: 0.3rem 2rem;
      font-size: 1.3rem;
      
    }
    .burger-button {
      position: fixed;
      top: 5px;
      right: 5px;
      height: 25px;
    }
  }
  .m-nav-dropdown {
    display: block;
    height: 0;
    color: white;
  overflow: hidden;
  transition: all 500ms ease;
    text-align: center;
    width: 100%;
    background-color: #222738;
    font-size: 0.7rem;
  }
  .is-active {
    height: 7rem;
  }
}