{% extends 'posts/header.html' %}
{% load static %}
{% block content %}

  <!-- BLOG SECTION -->
  <div class="show-container">
    
    <section class="post-container">
      <!-- ABOUT HEADERS -->
      <div class="post-header">
        <div class="dot-container">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <h1 class="blog-title">About the Blog</h1>
        <h5 class="blog-subtitle">What I lack in Blog length, I make up for in enthusiasm and sweet HTML effects</h5>
      </div>

      <!-- ABOUT CONTENT -->
      <div class="post-content">
        <div class="flex-item">
          <p class="text-section-one">Heya. My name is Rob and I am just a guy with a passion for building things but doing it in the most sustainable way possible. I have worked on over 100 residential architecture projects and currently building apps to support people and businesses in their daily lives. 
            <br />
            <br />
            It’s cool to be clean now - Nobody wants to live a wasteful life, but (understandably) nobody wants to splash the cash - But it doesn’t have to be a choice between one or the other!
            It’s not a secret that were probably doing more damage to our planet than we should be (not to mention all the stuff we are not told about…) but after working with a lot of people on their dream homes, there is definitely this mindset that to go sustainable, it is going to cost you a lot. I'm just learning about stuff, then writing it to solidify my thoughts. If it helps you then cool, if not then you don't have to keep reading :)</p>
        </div>
        <div class="flex-item">
          <img class="about-image" src="https://res.cloudinary.com/dy7eycl8m/image/upload/v1593520051/Blog/Main%20Images/green-and-red-plant-2351676_pzuz3h.jpg" alt="">
        </div>
      </div>
 



    </section>

          <!-- MINOR ABOUT SECTION -->
          <section class="post-container seperator">
          <div class="post-content ">
            A
                  </div>
                </section>
  </div>


{% endblock %}