{% extends 'posts/header.html' %}
{% load static %}
{% block content %}

  <!-- BLOG SECTION -->
  <div class="show-container">
    
    <section class="post-container">
      <!-- ABOUT HEADERS -->
      <div class="post-header">
        <div class="dot-container">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <h1 class="blog-title">About the Blog</h1>
        <h5 class="blog-subtitle">What I lack in Blog length, I make up for in enthusiasm and sweet HTML effects</h5>
      </div>

      <!-- ABOUT CONTENT -->
      <div class="post-content">
        <div class="flex-item">
          <p class="text-section-one">The official Google stance is:
            Today, as long as you’re not blocking Googlebot from crawling your JavaScript or CSS files, we are generally
            able to render and understand your web pages like modern browsers. To reflect this improvement, we recently
            updated our technical Webmaster Guidelines to recommend against disallowing Googlebot from crawling your
            site’s CSS or JS files.
            <br />
            <br />
            What have been people’s individual experiences?The official Google stance is:
            Today, as long as you’re not blocking Googlebot from crawling your JavaScript or CSS files, we are generally
            able to render and understand your web pages like modern browsers. To reflect this improvement, we recently
            updated our technical Webmaster Guidelines to recommend against disallowing Googlebot from crawling your
            site’s CSS or JS files.
            What have been people’s individual experiences?</p>
        </div>
        <div class="flex-item">
          <img class="about-image" src="https://res.cloudinary.com/dy7eycl8m/image/upload/v1593520051/Blog/Main%20Images/green-and-red-plant-2351676_pzuz3h.jpg" alt="">
        </div>
      </div>
 



    </section>

          <!-- MINOR ABOUT SECTION -->
          <section class="post-container seperator">
          <div class="post-content ">
            A
                  </div>
                </section>
  </div>


{% endblock %}