{% extends 'posts/header.html' %}
{% load static %}
{% block content %}

  <!-- MAIN HEADING -->
  <div class="r-main-banner">
    <div class="r-main-card">
      <div class="r-main-card-image" style="background-image: url({% static 'assets/main-card.jpg' %});">
      </div>
      <p class='r-main-card-text'>Coding</p>
    </div >
    <div class="r-main-card">
      <div class="r-main-card-image" style="background-image: url({% static 'assets/main-card.jpg' %});">
      </div>
      <p class='r-main-card-text'>Sustainability</p>
    </div >
    <div class="r-main-card">
      <div class="r-main-card-image" style="background-image: url({% static 'assets/main-card.jpg' %});">
      </div>
      <p class='r-main-card-text'>Philosophy</p>
    </div >
    <div class="r-main-card">
      <div class="r-main-card-image" style="background-image: url({% static 'assets/main-card.jpg' %});">
      </div>
      <p class='r-main-card-text'>Homely</p>
    </div >
    </div>


<!-- SECTION - BLOG POST LIST -->
<section class="light-section">
  <div class="posts-flex">

    {% for post in posts %}

    <div class="post-card">
      <a href="/{{ post.id }}/">
        <div class="post-card-image" style="background-image: url({{ post.main_image }});">
        </div>
        <p class='post-card-text'>{{ post.title }}</p>
      </a>
 
    </div >
  
    {% endfor %}
 </div>
</section>

{% endblock %}