{% extends 'posts/header.html' %}
{% load static %}
{% block content %}

  <!-- MAIN HEADING -->
  <div class="r-main-banner">
    <div class="r-main-card">
      <div class="r-main-card-image" style="background-image: url({% static 'assets/main-card.jpg' %});">
      </div>
      <p class='r-main-card-text'>Philosophy</p>
    </div >
    <div class="r-main-card">
      <div class="r-main-card-image" style="background-image: url({% static 'assets/main-card.jpg' %});">
      </div>
      <p class='r-main-card-text'>Philosophy</p>
    </div >
    <div class="r-main-card">
      <div class="r-main-card-image" style="background-image: url({% static 'assets/main-card.jpg' %});">
      </div>
      <p class='r-main-card-text'>Philosophy</p>
    </div >
    <div class="r-main-card">
      <div class="r-main-card-image" style="background-image: url({% static 'assets/main-card.jpg' %});">
      </div>
      <p class='r-main-card-text'>Philosophy</p>
    </div >
    </div>



{% endblock %}